.container{
    margin-bottom: 100px;
}
.navbar{
    float: right;
}
.container p{
    text-align: justify;
    color:gray;
}
.buy-now-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    text-align: center;
    padding: 10px 10px;
}
p{
    text-align: center;
}
.smartphone{
    height: 100%;
}
h6{
     float: right;
    color: orange;
}
.card-deck{
    padding-top: 50px;
}