.container{
    margin-bottom:;
}
.navbar{
    float: right;
}
img{
    width: px;
}
.container p{
    text-align: justify;
    color:gray;
}
.buy-now-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    text-align: center;
    padding: 10px 10px;
}
p{
    text-align: center;
}
h6{
    float: right;
}